*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

  }
  .container {
    width: 100vw;
    height: 100vh;
    Background-color: hsl(212, 45%, 89%);
  }
  .main{
    margin: auto;
    width: 20vw;
    padding: 110px 0px; 
  }

  .scan {
    background-color:hsl(0, 0%, 100%);
    text-align: center;
    margin: 0px auto;
    width: 100%;
    border-radius: 30px;
    box-shadow: 0px 10px 50px -15px rgb(167, 164, 164);
  }

  .scan img {
    width: 90%;
  margin-top: 15px;
    border-radius: 20px;
  }

  .text {
    padding: 20px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    -webkit-text-stroke-width: thin;
  }

  .text p {
    color:  hsl(220, 15%, 55%);
    font-size: 15px;
    margin-top: 15px;
  }
  .text h2{
    font-size: 20px;
    color: hsl(218, 44%, 22%);
  }
  @media only screen and (min-width:375px) and (max-width: 768px) {
.container{
  width: 100vw;
  height: 100vh;
}
     .main {
    margin: auto;
    width: 70%;
     }
     .scan{
      margin: 0px auto;
    width: 100%;
     }
   .text{
padding: 20px 20px;

   } 
   .text h2{
    font-size: 18px;
  }
  .text p{
    font-size: 13px;
  }
     }
